<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link link rel="stylesheet" href="style.css">>
</head>
<body>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/services">Our services</a>
        <a href="/contact">Contact us</a>
    </nav>
    <div class="grid_center">
        <div class="grid_container">
    
            <div class="column_1">
                <label>Nom</label>
            </div>
            <div class="column_2">
                <input type="text" name="nom">
            </div>
    
            <div class="column_1">
                <label>Prénom</label>
            </div>
            <div class="column_2">
                <input type="text" name="prénom">
            </div>
    
            <div class="column_1">
                <label>Téléphone</label>
            </div>
            <div class="column_2">
                <input type="number" name="téléphone">
            </div>
    
            <div class="column_1">
                <label>E-mail</label>
            </div>
            <div class="column_2">
                <input type="text" name="e-mail"> </input>
            </div>
    
            <div class="column_2_text">
                <textarea name="message" cols="30" rows="5">Tapez votre message</textarea>
            </div>
            <div>
                <button type="submit" class="column_1_button">Envoyez</button>
            </div>
        </div>
    </div>
</body>
</html>